.mgn-05 {
    margin: 0.5em;
}

.mgn-1 {
    margin: 1em;
}

.mgn-2 {
    margin: 2em;
}

.mgn-top-05 {
    margin-top: 0.5em;
}

.mgn-top-1 {
    margin-top: 1em;
}

.mgn-top-2 {
    margin-top: 2em;
}

.mgn-btn-05 {
    margin-bottom: 0.5em;
}

.mgn-btn-1 {
    margin-bottom: 1em;
}

.mgn-btn-2 {
    margin-bottom: 2em;
}

.mgn-der-05 {
    margin-right: 0.5em;
}

.mgn-der-1 {
    margin-right: 1em;
}

.mgn-der-2 {
    margin-right: 2em;
}

.mgn-izq-05 {
    margin-left: 0.5em;
}

.mgn-izq-1 {
    margin-left: 1em;
}

.mgn-izq-2 {
    margin-left: 2em;
}

.pdg-05 {
    padding: 0.5em;
    }

.pdg-1 {
padding: 1em;
}

.pdg-2 {
    padding: 2em;
}

.pdg-btn-05 {
    padding-bottom: 0.5em;
}

.pdg-btn-1 {
    padding-bottom: 1em;
}

.pdg-btn-2 {
    padding-bottom: 2em;
}

.pdg-top-05 {
    padding-top: 0.5em;
}

.pdg-top-1 {
    padding-top: 1em;
}

.pdg-top-2 {
    padding-top: 2em;
}

.pdg-der-2 {
    padding-right: 2em;
}

.pdg-der-1 {
    padding-right: 1em;
}

.pdg-der-05 {
    padding-right: 0.5em;
}

.pdg-izq-2 {
    padding-left: 2em;
}

.pdg-izq-1 {
    padding-left: 1em;
}

.pdg-izq-05 {
    padding-left: 0.5em;
}